<?xml version="1.0" encoding="UTF-8"?>
<dc:data-source-config xmlns:dc="aurora.datasource" useTransactionManager="false">
 
  <dc:database-connections>    
<!--        
        <dc:database-connection driverClass="oracle.jdbc.driver.OracleDriver" 
            url="jdbc:oracle:thin:@192.168.11.65:1521:masdev"
            userName="HEC2DEV_NEW" password="HEC2DEV_NEW" 
            pool="false" 
            initSql="BEGIN sys_nls_language_pkg.set_nls_language(p_nls_language => ${/session/@lang});END;">        
            <dc:properties> minPoolSize=1 maxPoolSize=20 testConnectionOnCheckin=true checkoutTimeout=3000
                idleConnectionTestPeriod=60 maxIdleTime=120 preferredTestQuery=select 1 from dual </dc:properties>
        </dc:database-connection>



		<dc:database-connection driverClass="oracle.jdbc.driver.OracleDriver" 
            url="jdbc:oracle:thin:@192.168.11.65:1521:masdev"
            userName="hap_dev" password="hap_dev" 
            pool="false" 
            initSql="BEGIN sys_nls_language_pkg.set_nls_language(p_nls_language => ${/session/@lang});END;">        
            <dc:properties> minPoolSize=1 maxPoolSize=20 testConnectionOnCheckin=true checkoutTimeout=3000
                idleConnectionTestPeriod=60 maxIdleTime=120 preferredTestQuery=select 1 from dual </dc:properties>
        </dc:database-connection>

  -->
  <!-- 
<dc:database-connection   driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@172.16.244.129:1521:SEL" userName="sel_dev" password="sel_dev" pool="true" initSql="BEGIN sys_nls_language_pkg.set_nls_language(p_nls_language => ${ssion/@lang});END;">
 <dc:properties> minPoolSize=1 maxPoolSize=20 testConnectionOnCheckin=true checkoutTimeout=3000
        idleConnectionTestPeriod=60 maxIdleTime=120 preferredTestQuery=select 1 from dual </dc:properties>
</dc:database-connection>

         -->
        
		<dc:database-connection driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@192.168.11.65:1521:masdev" userName="hec2dev_new" password="hec2dev_new" pool="true">
			<dc:properties>				
				maxSize=20
				testConnectionOnCheckin=true
				checkoutTimeout=30000
				idleConnectionTestPeriod=120
				maxIdleTime=180
				preferredTestQuery=select 1 from dual
			</dc:properties>
		</dc:database-connection>
  
    </dc:database-connections>  
</dc:data-source-config>