<participant-manager xmlns="uncertain.event">
    <participant-list category="service">
        <participant class="aurora.service.json.JSONServiceInterpreter" />
        <participant class="aurora.application.action.BMAuthority" />
        <participant class="aurora.application.action.DoDispatch"/>
        <participant class="aurora.application.features.DataSetInit"/>
        <participant class="aurora.application.features.UploadInit"/>
    </participant-list> 
</participant-manager>