/Brace.class
/BracesMatch.class
/ColorManager.class
/IColorConstants.class
/IReconcileListener.class
/JavaScriptAutoIndentStrategy.class
/JavaScriptConfiguration.class
/JavaScriptLineStyler$JavaScanner.class
/JavaScriptLineStyler.class
/NonRuleBasedDamagerRepairer.class
/ProjectionReconcile.class
/SQLConfiguration.class
/TextPage$1.class
/TextPage$2.class
/TextPage.class
/XMLAutoEditStrategy.class
/XMLConfiguration.class
/XMLDocumentProvider.class
/XMLDoubleClickStrategy$1.class
/XMLDoubleClickStrategy.class
/XMLEditorContributor.class
/XMLParser.class
/XMLPartitioner.class
/XMLTextFileDocumentProvider.class
/XMLWhitespaceDetector.class
/XmlErrorReconcile$1.class
/XmlErrorReconcile.class
/XmlReconcilingStrategy.class
