<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="auroraComponent" name="AuroraComponent" schema="schema/auroraComponent.exsd"/>
   <extension-point id="uipEditor" name="Prototype UI Editor" schema="schema/uipEditor.exsd"/>
	<extension point="org.eclipse.ui.newWizards">
        <wizard category="aurora.ide.wizard" 
            class="aurora.ide.meta.project.CreateMetaProjectWizard" 
            finalPerspective="aurora.ide.perspectives.AuroraPerspective" 
            icon="icons/aurora.gif" id="aurora.ide.wizard.meta.ProjectWizard" 
            name="Aurora 原型工程" project="true"/>
        <wizard
              category="aurora.ide.wizard"
              class="aurora.ide.meta.gef.editors.wizard.CreateMetaWizard"
              icon="icons/meta.png"
              id="aurora.ide.wizard.CreateFormGridWizard"
              name="UI Prototype文件">
        </wizard>
        <wizard
              category="aurora.ide.wizard"
              class="aurora.ide.meta.gef.designer.wizard.NewBmqWizard"
              icon="icons/bmq.png"
              id="aurora.ide.wizard.NewBMQ"
              name="Model Prototype文件">
        </wizard>
    </extension>
     
    <extension
         point="org.eclipse.ui.preferencePages">
        <page
            category="aurora.ide.preferencePage"
            class="aurora.ide.preferencepages.AuroraPreferencePage"
            id="aurora.ide.meta.preference"
            name="%aurora.prototype">
      </page>
      <page
            category="aurora.ide.meta.preference"
            class="aurora.ide.meta.preference.UIPrototypePreferencePage"
            id="aurora.ide.meta.template.preference"
            name="UI Prototype Template">
      </page>
    </extension>
     
	<extension
         id="aurora.meta.gef.editor"
         point="org.eclipse.ui.editors">
      <editor
            class="aurora.ide.meta.gef.editors.VScreenEditor"
            default="true"
            extensions="uip"
            icon="icons/meta.png"
            id="aurora.ide.meta.gef.editors.VScreenEditor"
            name="Aurora UI Designer">
      </editor>
      <editor
            class="aurora.ide.meta.gef.designer.BMDesigner"
            default="true"
            extensions="bmq"
            icon="icons/bmq.png"
            id="aurora.ide.meta.gef.editors.BMDesigner"
            name="BMQuickDesigner">
      </editor>
      <!--
      <editor
            class="aurora.ide.editor.CollaborateEditor"
            filenames="*.service,*.screen,*.svc,*.bm"
            icon="icons/service.gif"
            id="aurora.ide.editor.CollaborateEditor"
            default="false"
            name="远程协作编辑器"/>
       -->   
	</extension>
    
    <extension point="org.eclipse.ui.propertyPages">
		<page
			adaptable="true"
         	class="aurora.ide.meta.project.MetaProjectPropertyPage"
         	icon="icons/aurora.gif"
         	id="aurora.ide.meta.project.property"
         	name="Aurora原型工程设置"
         	objectClass="org.eclipse.core.resources.IProject">
			<filter name="nature" value="aurora.ide.meta.nature"/>
		</page>
	</extension>
	  
	
    <extension
          id="nature"
          name="Aurora Meta Project Nature"
          point="org.eclipse.core.resources.natures">  
       <runtime>  
          <run  
                class="aurora.ide.meta.project.AuroraMetaProjectNature">  
          </run>  
       </runtime>
       <builder
             id="aurora.ide.meta.autoGenBuilder">
       </builder>
    </extension>
    <extension point="org.eclipse.ui.ide.projectNatureImages">
  		<image 
  		 id="aurora.project.nature.image"
    	 natureId="aurora.ide.meta.nature"
    	 icon="icons/aurora8x8.png">
  		</image>
 	</extension>
 	
 	<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Aurora原型工程"
            visible="true"
            id="aurora.meta.project.actionset">
        
         <action
               label="生成Aurora代码"
               icon="icons/screen_gen.png"
               class="aurora.ide.meta.action.SourceCodeGenerator"
               tooltip="生成Aurora代码"
               toolbarPath="Aurora\meta"
               id="aurora.ide.meta.action.SourceCodeGenerator"
               >
         </action>
         <action
               label="OpenFile"
               icon="icons/folder.png"
               class="aurora.ide.meta.action.ToolbarOpenGeneratorFileAction"
               tooltip="打开生成的文件"
               toolbarPath="Aurora\meta"
               id="aurora.ide.meta.action.ToolbarOpenGeneratorFileAction"
               style="pulldown"
               >
         </action>
      </actionSet>
   </extension>
   
<extension point="org.eclipse.ui.perspectiveExtensions"> 
    <perspectiveExtension 
      targetID="aurora.ide.perspectives.AuroraPerspective"> 
      <actionSet id="aurora.meta.project.actionset"/> 
    </perspectiveExtension> 
</extension>
   
   
   
   
   
  <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           default-charset="UTF-8"
           file-extensions="uip,bmq"
           id="aurora.ide.meta.contenttype"
           name="Aurora Prototype File"
           priority="normal">
     </content-type>
  </extension>
  <extension
        id="xmlProblem"
        name="XML Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>
  <extension
        id="autoGenBuilder"
        name="Aurora Meta Project Builder"
        point="org.eclipse.core.resources.builders">
     <builder
           hasNature="true"
           isConfigurable="true">
        <run
              class="aurora.ide.meta.builder.AutoGenBuilder">
        </run>
     </builder>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="aurora.ide.meta.pop.createtable"
           nameFilter="*.bmq"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="aurora.ide.meta.popup.actions.AutoCreateTableAction"
              enablesFor="+"
              icon="icons/create_database_table.gif"
              id="aurora.ide.meta.autoCreateTableAction"
              label="Create Table"
              menubarPath="additions">
           <enablement>
              <and>
                 <objectClass
                       name="org.eclipse.core.resources.IFile">
                 </objectClass>
                 <objectState
                       name="extension"
                       value="bmq">
                 </objectState>
                 <objectState
                       name="projectNature"
                       value="aurora.ide.meta.nature">
                 </objectState>
              </and>
           </enablement>
        </action>
     </objectContribution>
     <objectContribution
           id="aurora.ide.meta.pop.openbm"
           nameFilter="*.bmq"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="aurora.ide.meta.popup.actions.OpenGeneratorFileAction"
              enablesFor="1"
              id="aurora.ide.meta.open.generated.bm.Action"
              label="Open generated file"
              menubarPath="additions">
           <enablement>
              <and>
                 <objectClass
                       name="org.eclipse.core.resources.IFile">
                 </objectClass>
                 <objectState
                       name="extension"
                       value="bmq">
                 </objectState>
                 <objectState
                       name="projectNature"
                       value="aurora.ide.meta.nature">
                 </objectState>
              </and>
           </enablement>
        </action>
     </objectContribution>
     <objectContribution
           id="aurora.ide.meta.pop.open.uip"
           nameFilter="*.uip"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="aurora.ide.meta.popup.actions.OpenGeneratorFileAction"
              enablesFor="1"
              id="aurora.ide.meta.open.generated.screen.Action"
              label="Open generated file"
              menubarPath="additions">
           <enablement>
              <and>
                 <objectClass
                       name="org.eclipse.core.resources.IFile">
                 </objectClass>
                 <objectState
                       name="extension"
                       value="uip">
                 </objectState>
                 <objectState
                       name="projectNature"
                       value="aurora.ide.meta.nature">
                 </objectState>
              </and>
           </enablement>
        </action>
     </objectContribution>
     <objectContribution
           id="aurora.ide.meta.pop.createsyscode"
           nameFilter="sys_code.code"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="aurora.ide.meta.popup.actions.CreateSysCodeAction"
              enablesFor="1"
              id="aurora.ide.meta.autoCreateSysCodeAction"
              label="Create SYS_CODE"
              menubarPath="additions">
        </action>
     </objectContribution>
  </extension>
  <extension
        id="builderror"
        name="Aurora Prototype Build Error"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>
  <extension
        point="aurora.ide.meta.uipEditor">
     <palette>
     	<category
              filter="aurora.ide.meta.gef.editors.EditorModeFilter"
              id="aurora.ide.meta.palette.category.input"
              label="Input">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.button"
              label="Button">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.layout"
              label="Layout">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.EditorModeFilter"
              id="aurora.ide.meta.palette.category.grid"
              label="Grid">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.EditorModeFilter"
              id="aurora.ide.meta.palette.category.tab"
              label="Tab"
              >
        </category>
     </palette>
  </extension>
  <extension
        point="aurora.ide.meta.auroraComponent">
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.LabelCreator"
           descriptor="aurora.ide.meta.component.LabelDesc"
           id="aurora.ide.meta.component.label"
           ioHandler="aurora.ide.meta.gef.editors.models.io.LabelHandler"
           name="label">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.TextFieldCreator"
           descriptor="aurora.ide.meta.component.TextFieldDesc"
           id="aurora.ide.meta.component.TextField"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="textfield">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.NumberFieldCreator"
           descriptor="aurora.ide.meta.component.NumberFieldDesc"
           id="aurora.ide.meta.component.numberfield"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="numberfield">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.ComboxCreator"
           descriptor="aurora.ide.meta.component.ComboxDesc"
           id="aurora.ide.meta.component.combox"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="combox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.DatePickerCreator"
           descriptor="aurora.ide.meta.component.DatePickerDesc"
           id="aurora.ide.meta.component.datepicker"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="datepicker">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.DateTimePickerCreator"
           descriptor="aurora.ide.meta.component.DateTimePickerDesc"
           id="aurora.ide.meta.component.datetimepicker"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="datetimepicker">
     </component>
  	 <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.LOVCreator"
           descriptor="aurora.ide.meta.component.LOVDesc"
           id="aurora.ide.meta.component.lov"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="lov">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.CheckBoxCreator"
           descriptor="aurora.ide.meta.component.CheckBoxDesc"
           id="aurora.ide.meta.component.checkbox"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="checkbox">
     </component>
	 <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.InputCreator"
           descriptor="aurora.ide.meta.component.InputDesc"
           id="aurora.ide.meta.component.input"
           ioHandler="aurora.ide.meta.gef.editors.models.io.InputHandler"
           name="input">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.button"
           creator="aurora.ide.meta.gef.editors.components.button.ButtonCreator"
           descriptor="aurora.ide.meta.component.ButtonDesc"
           id="aurora.ide.meta.component.button"
           ioHandler="aurora.ide.meta.gef.editors.models.io.ButtonHandler"
           name="button">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.FormCreator"
           descriptor="aurora.ide.meta.component.FormDesc"
           id="aurora.ide.meta.component.form"
           ioHandler="aurora.ide.meta.gef.editors.models.io.BoxHandler"
           name="form">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.FieldSetCreator"
           descriptor="aurora.ide.meta.component.FieldSetDesc"
           id="aurora.ide.meta.component.fieldset"
           ioHandler="aurora.ide.meta.gef.editors.models.io.BoxHandler"
           name="fieldset">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.HBoxCreator"
           descriptor="aurora.ide.meta.component.HBoxDesc"
           id="aurora.ide.meta.component.hbox"
           ioHandler="aurora.ide.meta.gef.editors.models.io.BoxHandler"
           name="hbox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.VBoxCreator"
           descriptor="aurora.ide.meta.component.VBoxDesc"
           id="aurora.ide.meta.component.vbox"
           ioHandler="aurora.ide.meta.gef.editors.models.io.BoxHandler"
           name="vbox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.grid.ToolbarCreator"
           descriptor="aurora.ide.meta.component.ToolbarDesc"
           id="aurora.ide.meta.component.toolbar"
           name="toolbar">
     </component>
     
      <component
           categoryId="aurora.ide.meta.palette.category.grid"
           creator="aurora.ide.meta.gef.editors.components.grid.GridCreator"
           descriptor="aurora.ide.meta.component.GridDesc"
           id="aurora.ide.meta.component.grid"
           ioHandler="aurora.ide.meta.gef.editors.models.io.GridHandler"
           name="grid">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.grid"
           creator="aurora.ide.meta.gef.editors.components.grid.GridColumnCreator"
           descriptor="aurora.ide.meta.component.GridColumnDesc"
           id="aurora.ide.meta.component.gridcolumn"
           ioHandler="aurora.ide.meta.gef.editors.models.io.GridColumnHandler"
           name="gridcolumn">
     </component>
     
     <component
           categoryId="aurora.ide.meta.palette.category.tab"
           creator="aurora.ide.meta.gef.editors.components.tab.TabFolderCreator"
           descriptor="aurora.ide.meta.component.TabFolderDesc"
           id="aurora.ide.meta.component.tabFolder"
            ioHandler="aurora.ide.meta.gef.editors.models.io.TabHandler"
           name="tabFolder">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.tab"
           creator="aurora.ide.meta.gef.editors.components.tab.TabItemCreator"
           descriptor="aurora.ide.meta.component.TabItemDesc"
           id="aurora.ide.meta.component.tabItem"
            ioHandler="aurora.ide.meta.gef.editors.models.io.TabItemHandler"
           name="tabItem">
     </component>
  </extension>
    
</plugin>
