<p:procedure-registry xmlns:p="uncertain.proc" xmlns:a="http://www.aurora-framework.org/application" xmlns:t="aurora.application.action" xmlns:h="com.hclc">
    <p:procedures>
        <p:procedure name="pre-service">
            <p:set field="@success" value="true"/>
            <p:set field="/session/@user_id" value="2"/>
            <p:set field="/session/@company_id" value="1"/>
            <p:set field="/session/@role_id" value="2"/>
            <p:set field="/session/@lang" value="ZHS"/>
            <p:set field="/session/@session_id" value="1"/>
            <!--
            
            
            <p:set field="@success" value="true"/>
            <p:switch test="@is_autocrud_service">
                <p:case Value="true">
                    <a:model-update model="sys.sys_bm_check" />
                </p:case>
                <p:case>
                    <a:model-update model="sys.sys_session_check" />
                </p:case>
            </p:switch>
                     
            <a:model-update model="sys.sys_session_info" />
            <t:check-dispatch field="/access-check/@status_code" value="screen_unregistered" dispatchUrl="${/request/@context_path}/error_screen_unregistered.screen" message="/access-check/@status_code"/>
            <t:check-dispatch field="/access-check/@status_code" value="screen_unauthorized" dispatchUrl="${/request/@context_path}/error_screen_unauthorized.screen" message="/access-check/@status_code"/>
            <t:check-dispatch field="/access-check/@status_code" value="session_expired" dispatchUrl="${/request/@context_path}/error_session_expired.screen" message="/access-check/@status_code"/>
            -->
        </p:procedure>
    </p:procedures>
</p:procedure-registry>