<?xml version="1.0" encoding="UTF-8"?>
<ns1:service-logging xmlns:ns1="aurora.application.features" append="false" defaultLogLevel="FINE" pattern="_${/session/@session_id}_" enablePerServiceConfig="false">
    <!--
	<topics>
		<logging-topic name="uncertain.proc" level="CONFIG"/>
		<logging-topic name="aurora.presentation.buildsession" level="CONFIG"/>
		<logging-topic name="aurora.presentation.manager" level="CONFIG"/>
		<logging-topic name="aurora.database" level="CONFIG"/>
	</topics>
	-->
</ns1:service-logging>
