<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
     <!--
      <view
            name="Prompts Viewer"
            icon="icons/sample.gif"
            category="aurora.viewer.category"
            class="aurora.ide.views.prompts.view.PromptsView"
            id="aurora.ide.views.prompts.view.PromptsView">
      </view>
      -->
      <view
            name="Business Model Viewer"
            icon="icons/bm.gif"
            category="aurora.viewer.category"
            class="aurora.ide.views.bm.view.BusinessModelView"
            id="aurora.ide.views.bm.view.BusinessModelView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="aurora.ide.wizard"
            class="aurora.ide.views.wizard.NewScreenWizard"
            finalPerspective="aurora.ide.perspectives.AuroraPerspective"
            icon="icons/screen.png"
            id="aurora.ide.views.screenwizard"
            name="New Screen Wizard"
            project="false">
      </wizard>
   </extension>
</plugin>
