<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Hand Application Platform</display-name>
	<listener>
		<listener-class>aurora.service.http.WebContextInit</listener-class>
	</listener>
	<servlet>
		<servlet-name>service</servlet-name>
		<servlet-class>aurora.service.http.FacadeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>autocrud</servlet-name>
		<servlet-class>aurora.service.http.AutoCrudServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>resource</servlet-name>
		<servlet-class>aurora.presentation.ResourceDispatchServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>exportchart</servlet-name>
        <servlet-class>aurora.service.http.ExportChartServlet</servlet-class>
    </servlet>
    
	<!-- 图形验证码Servlet-->   
	<servlet>
		<servlet-name>imageCodeServlet</servlet-name>
		<servlet-class>aurora.service.http.ImageCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageCodeServlet</servlet-name>
		<url-pattern>/imagecode</url-pattern>
	</servlet-mapping>
	 
   
    <servlet-mapping>
        <servlet-name>exportchart</servlet-name>
        <url-pattern>/exportchart</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>*.screen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>*.svc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resource</servlet-name>
		<url-pattern>/resource/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>autocrud</servlet-name>
		<url-pattern>/autocrud/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list> 
		<welcome-file>main.screen</welcome-file> 
	</welcome-file-list>
</web-app>