/AuroraProjectPropertiesSettingPage$1.class
/AuroraProjectPropertiesSettingPage$2.class
/AuroraProjectPropertiesSettingPage$3.class
/AuroraProjectPropertiesSettingPage$4.class
/AuroraProjectPropertiesSettingPage.class
/AuroraProjectSettingWizard.class
