<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="aurora.ide.prototype.consultant.product.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="aurora.ide.prototype.consultant.product.Perspective"
            id="aurora.ide.prototype.consultant.product.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="aurora.ide.prototype.consultant.product.View"
            id="aurora.ide.prototype.consultant.product.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="aurora.ide.prototype.consultant.product.NavigationView"
            id="aurora.ide.prototype.consultant.product.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="aurora.ide.prototype.consultant.product.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="aurora.ide.prototype.consultant.product.category"
            id="aurora.ide.prototype.consultant.product.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="aurora.ide.prototype.consultant.product.category"
            id="aurora.ide.prototype.consultant.product.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="aurora.ide.prototype.consultant.product.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="aurora.ide.prototype.consultant.product.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="aurora.ide.prototype.consultant.product.application"
            name="Aurora Prototype Product">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
      </product>
   </extension>

<extension-point id="auroraComponent" name="AuroraComponent" schema="schema/auroraComponent.exsd"/>
<extension-point id="uipEditor" name="Prototype UI Editor" schema="schema/uipEditor.exsd"/>
	
     
	<extension
         id="aurora.meta.gef.editor"
         point="org.eclipse.ui.editors">
      <editor
            class="aurora.ide.meta.gef.editors.VScreenEditor"
            default="true"
            extensions="uip"
            icon="icons/meta.png"
            id="aurora.ide.meta.gef.editors.VScreenEditor"
            name="Aurora UI Designer">
      </editor>
	</extension>
    
   
   
   
  <extension
        point="aurora.ide.prototype.consultant.product.uipEditor">
     <palette>
     	<category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.input"
              label="Input">
        </category>
        <category   
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.button"
              label="Button">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.layout"
              label="Layout">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.grid"
              label="Grid">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.tab"
              label="Tab"
              >
        </category>
     </palette>
  </extension>
  <extension
        point="aurora.ide.prototype.consultant.product.auroraComponent">
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.LabelCreator"
           descriptor="aurora.ide.meta.component.LabelDesc"
           id="aurora.ide.meta.component.label"
           name="label"
           types="label">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.TextFieldCreator"
           descriptor="aurora.ide.meta.component.TextFieldDesc"
           id="aurora.ide.meta.component.TextField"
           name="textfield"
           types="textfield">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.NumberFieldCreator"
           descriptor="aurora.ide.meta.component.NumberFieldDesc"
           id="aurora.ide.meta.component.numberfield"
           name="numberfield"
           types="numberfield">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.ComboxCreator"
           descriptor="aurora.ide.meta.component.ComboxDesc"
           id="aurora.ide.meta.component.combox"
           name="combobox"
           types="combobox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.DatePickerCreator"
           descriptor="aurora.ide.meta.component.DatePickerDesc"
           id="aurora.ide.meta.component.datepicker"
           name="datepicker"
           types="datepicker">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.DateTimePickerCreator"
           descriptor="aurora.ide.meta.component.DateTimePickerDesc"
           id="aurora.ide.meta.component.datetimepicker"
           name="datetimepicker"
           types="datetimepicker">
     </component>
  	 <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.LOVCreator"
           descriptor="aurora.ide.meta.component.LOVDesc"
           id="aurora.ide.meta.component.lov"
           name="lov"
           types="lov">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.CheckBoxCreator"
           descriptor="aurora.ide.meta.component.CheckBoxDesc"
           id="aurora.ide.meta.component.checkbox"
           name="checkbox"
           types="checkbox">
     </component>
      <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.TextAreaCreator"
           descriptor="aurora.ide.meta.component.TextAreaDesc"
           id="aurora.ide.meta.component.TextArea"
           name="textarea"
           types="textArea">
     </component>
	 <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.InputCreator"
           descriptor="aurora.ide.meta.component.InputDesc"
           id="aurora.ide.meta.component.input"
           name="input"
           types="input">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.button"
           creator="aurora.ide.meta.gef.editors.components.button.ButtonCreator"
           descriptor="aurora.ide.meta.component.ButtonDesc"
           id="aurora.ide.meta.component.button"
           name="button"
           types="button">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.FormCreator"
           descriptor="aurora.ide.meta.component.FormDesc"
           id="aurora.ide.meta.component.form"
           name="form"
           types="form">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.FieldSetCreator"
           descriptor="aurora.ide.meta.component.FieldSetDesc"
           id="aurora.ide.meta.component.fieldset"
           name="fieldset"
           types="fieldset">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.HBoxCreator"
           descriptor="aurora.ide.meta.component.HBoxDesc"
           id="aurora.ide.meta.component.hbox"
           name="hbox"
           types="hbox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.VBoxCreator"
           descriptor="aurora.ide.meta.component.VBoxDesc"
           id="aurora.ide.meta.component.vbox"
           name="vbox"
           types="vbox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.grid.ToolbarCreator"
           descriptor="aurora.ide.meta.component.ToolbarDesc"
           id="aurora.ide.meta.component.toolbar"
           name="toolbar"
           types="toolbar">
     </component>
     
      <component
           categoryId="aurora.ide.meta.palette.category.grid"
           creator="aurora.ide.meta.gef.editors.components.grid.GridCreator"
           descriptor="aurora.ide.meta.component.GridDesc"
           id="aurora.ide.meta.component.grid"
           name="grid"
           types="grid,navbar,gridselectioncol">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.grid"
           creator="aurora.ide.meta.gef.editors.components.grid.GridColumnCreator"
           descriptor="aurora.ide.meta.component.GridColumnDesc"
           id="aurora.ide.meta.component.gridcolumn"
           name="gridcolumn"
           types="gridcolumn">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.tab"
           creator="aurora.ide.meta.gef.editors.components.tab.TabFolderCreator"
           descriptor="aurora.ide.meta.component.TabFolderDesc"
           id="aurora.ide.meta.component.tabFolder"
           name="tabFolder"
           types="tabpanel">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.tab"
           creator="aurora.ide.meta.gef.editors.components.tab.TabItemCreator"
           descriptor="aurora.ide.meta.component.TabItemDesc"
           id="aurora.ide.meta.component.tabItem"
           name="tabItem"
           types="tab,tabref,tabbody">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.QueryFormCreator"
           descriptor="aurora.ide.meta.component.QueryFormDesc"
           id="aurora.ide.meta.component.queryform"
           name="queryForm"
           types="queryForm,formToolbar">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.QueryFormBodyCreator"
           descriptor="aurora.ide.meta.component.QueryFormDesc"
           id="aurora.ide.meta.component.queryformbody"
           name="formBody"
           types="formBody">
     </component>
  </extension>



</plugin>
