<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="aurora.ide.prototype.consultant.product.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Prototype Perspective"
            class="aurora.ide.prototype.consultant.product.Perspective"
            id="aurora.ide.prototype.consultant.product.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="File"
            id="aurora.ide.prototype.consultant.product.category">
      </category>
      <command
            name="Open File"
            description="Opens a new file"
            categoryId="aurora.ide.prototype.consultant.product.category"
            id="aurora.ide.prototype.consultant.product.open">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="aurora.ide.prototype.consultant.product.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <!--
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      -->
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="aurora.ide.prototype.consultant.product.application"
            name="Aurora Quick UI">
         <property
               name="aboutText"
               value="Aurora Quick UI 1.0 Was Created By HAND Enterprise Solutions Co. MAS Department">
         </property>
         <property
               name="windowImages"
               value="logo/16.png,logo/32.png,logo/48.png,logo/64.PNG,logo/128.png">
         </property>
         <property
               name="aboutImage"
               value="intro_logo.png">
         </property>
         <property
               name="appName"
               value="Aurora Quick UI">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         
         <property
          		name="introTitle"
          		value="%productIntroTitle"/>
          <property
          		name="introBrandingImage"
          		value="product:intro_logo.png"/>
          <property
          		name="introBrandingImageText"
          		value="%productIntroBrandingText"/>
          <property
				name="introDescription-samples"
				value="%introDescription-samples"/>  
		<property
				name="samples-label"
				value="%samples-label"/>  
         
         
      </product>
   </extension>
   
   
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Open a file"
            id="aurora.ide.prototype.consultant.product.action.OpenFileAction"
            name="Open"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="aurora.ide.prototype.consultant.product.action.OpenFileAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
   </extension>
   




<extension-point id="auroraComponent" name="AuroraComponent" schema="schema/auroraComponent.exsd"/>
<extension-point id="uipEditor" name="Prototype UI Editor" schema="schema/uipEditor.exsd"/>
	
     
	<extension
         id="aurora.meta.gef.editor"
         point="org.eclipse.ui.editors">
      <editor
            class="aurora.ide.meta.gef.editors.ConsultantVScreenEditor"
            default="true"
            extensions="uip"
            icon="icons/meta.png"
            id="aurora.ide.meta.gef.editors.ConsultantVScreenEditor"
            contributorClass="aurora.ide.meta.gef.editors.ConsultantVScreenEditorContributor" 
            name="Aurora UI Designer">
      </editor>
       <editor
            class="aurora.ide.prototype.consultant.editor.FSDEditor"
            default="false"
            extensions="uip"
            icon="icons/meta.png"
            id="aurora.ide.prototype.consultant.editor.FSDEditor"
            contributorClass="aurora.ide.prototype.consultant.editor.FSDEditorContributor" 
            name="FSD Editor">
      </editor>
	</extension>
    
   
   
   
  <extension
        point="aurora.ide.prototype.consultant.product.uipEditor">
     <palette>
     	 <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.template"
              label="%uipeditor.palette.category.Template"
              >
        </category>
     	<category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.input"
              label="%uipeditor.palette.category.Input">
        </category>
        <category   
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.button"
              label="%uipeditor.palette.category.Button">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.layout"
              label="%uipeditor.palette.category.Layout">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.grid"
              label="%uipeditor.palette.category.Grid">
        </category>
        <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.tab"
              label="%uipeditor.palette.category.Tab"
              >
        </category>
         <category
              filter="aurora.ide.meta.gef.editors.PaletteCategoryFilter"
              id="aurora.ide.meta.palette.category.tree"
              label="TREE"
              >
        </category>
       
     </palette>
  </extension>
  <extension
        point="aurora.ide.prototype.consultant.product.auroraComponent">
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.LabelCreator"
           descriptor="aurora.ide.meta.component.LabelDesc"
           id="aurora.ide.meta.component.label"
           name="label"
           types="label">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.TextFieldCreator"
           descriptor="aurora.ide.meta.component.TextFieldDesc"
           id="aurora.ide.meta.component.TextField"
           name="textfield"
           types="textfield">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.NumberFieldCreator"
           descriptor="aurora.ide.meta.component.NumberFieldDesc"
           id="aurora.ide.meta.component.numberfield"
           name="numberfield"
           types="numberfield">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.ComboxCreator"
           descriptor="aurora.ide.meta.component.ComboxDesc"
           id="aurora.ide.meta.component.combox"
           name="combobox"
           types="combobox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.DatePickerCreator"
           descriptor="aurora.ide.meta.component.DatePickerDesc"
           id="aurora.ide.meta.component.datepicker"
           name="datepicker"
           types="datepicker">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.DateTimePickerCreator"
           descriptor="aurora.ide.meta.component.DateTimePickerDesc"
           id="aurora.ide.meta.component.datetimepicker"
           name="datetimepicker"
           types="datetimepicker">
     </component>
  	 <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.LOVCreator"
           descriptor="aurora.ide.meta.component.LOVDesc"
           id="aurora.ide.meta.component.lov"
           name="lov"
           types="lov">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.CheckBoxCreator"
           descriptor="aurora.ide.meta.component.CheckBoxDesc"
           id="aurora.ide.meta.component.checkbox"
           name="checkbox"
           types="checkbox">
     </component>
      <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.TextAreaCreator"
           descriptor="aurora.ide.meta.component.TextAreaDesc"
           id="aurora.ide.meta.component.TextArea"
           name="textarea"
           types="textArea">
     </component>
	 <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.input.InputCreator"
           descriptor="aurora.ide.meta.component.InputDesc"
           id="aurora.ide.meta.component.input"
           name="input"
           types="input">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.button"
           creator="aurora.ide.meta.gef.editors.components.button.ButtonCreator"
           descriptor="aurora.ide.meta.component.ButtonDesc"
           id="aurora.ide.meta.component.button"
           name="button"
           types="button">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.FormCreator"
           descriptor="aurora.ide.meta.component.FormDesc"
           id="aurora.ide.meta.component.form"
           name="form"
           types="form">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.FieldSetCreator"
           descriptor="aurora.ide.meta.component.FieldSetDesc"
           id="aurora.ide.meta.component.fieldset"
           name="fieldset"
           types="fieldset">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.HBoxCreator"
           descriptor="aurora.ide.meta.component.HBoxDesc"
           id="aurora.ide.meta.component.hbox"
           name="hbox"
           types="hbox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.VBoxCreator"
           descriptor="aurora.ide.meta.component.VBoxDesc"
           id="aurora.ide.meta.component.vbox"
           name="vbox"
           types="vbox">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.grid.ToolbarCreator"
           descriptor="aurora.ide.meta.component.ToolbarDesc"
           id="aurora.ide.meta.component.toolbar"
           name="toolbar"
           types="toolbar">
     </component>
     
      <component
           categoryId="aurora.ide.meta.palette.category.grid"
           creator="aurora.ide.meta.gef.editors.components.grid.GridCreator"
           descriptor="aurora.ide.meta.component.GridDesc"
           id="aurora.ide.meta.component.grid"
           name="grid"
           types="grid,navbar,gridselectioncol">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.grid"
           creator="aurora.ide.meta.gef.editors.components.grid.GridColumnCreator"
           descriptor="aurora.ide.meta.component.GridColumnDesc"
           id="aurora.ide.meta.component.gridcolumn"
           name="gridcolumn"
           types="gridcolumn">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.tab"
           creator="aurora.ide.meta.gef.editors.components.tab.TabFolderCreator"
           descriptor="aurora.ide.meta.component.TabFolderDesc"
           id="aurora.ide.meta.component.tabFolder"
           name="tabFolder"
           types="tabpanel">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.tab"
           creator="aurora.ide.meta.gef.editors.components.tab.TabItemCreator"
           descriptor="aurora.ide.meta.component.TabItemDesc"
           id="aurora.ide.meta.component.tabItem"
           name="tabItem"
           types="tab,tabref,tabbody">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.QueryFormCreator"
           descriptor="aurora.ide.meta.component.QueryFormDesc"
           id="aurora.ide.meta.component.queryform"
           name="queryForm"
           types="queryForm,formToolbar">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.layout"
           creator="aurora.ide.meta.gef.editors.components.box.QueryFormBodyCreator"
           descriptor="aurora.ide.meta.component.QueryFormDesc"
           id="aurora.ide.meta.component.queryformbody"
           name="formBody"
           types="formBody">
     </component>
     
     
     <component
           categoryId="aurora.ide.meta.palette.category.template"
           creator="aurora.ide.meta.gef.editors.components.template.GridCreator"
           descriptor="aurora.ide.meta.component.template.GridDesc"
           id="aurora.ide.meta.component.template.grid"
           name="grid"
           types="grid_template">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.template"
           creator="aurora.ide.meta.gef.editors.components.template.GridEditorCreator"
           descriptor="aurora.ide.meta.component.template.GridDescEditor"
           id="aurora.ide.meta.component.template.grid.editor"
           name="grid"
           types="grid_template_editor">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.template"
           creator="aurora.ide.meta.gef.editors.components.template.FormCreator"
           descriptor="aurora.ide.meta.component.template.FormDesc"
           id="aurora.ide.meta.component.template.form"
           name="form"
           types="form_template">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.template"
           creator="aurora.ide.meta.gef.editors.components.template.FieldSetCreator"
           descriptor="aurora.ide.meta.component.template.FieldSetDesc"
           id="aurora.ide.meta.component.template.fieldset"
           name="fieldset"
           types="fieldset_template">
     </component>
      <component
           categoryId="aurora.ide.meta.palette.category.template"
           creator="aurora.ide.meta.gef.editors.components.template.TabsCreator"
           descriptor="aurora.ide.meta.component.template.TabsDesc"
           id="aurora.ide.meta.component.template.tabs"
           name="tabs"
           types="tabs_template">
     </component>
      <component
           categoryId="aurora.ide.meta.palette.category.template"
           creator="aurora.ide.meta.gef.editors.components.template.ButtonsCreator"
           descriptor="aurora.ide.meta.component.template.ButtonsDesc"
           id="aurora.ide.meta.component.template.buttons"
           name="buttons"
           types="buttons_template">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.CustomIconCreator"
           descriptor="aurora.ide.meta.component.CustomIconDesc"
           id="aurora.ide.meta.component.Image"
           name="Icon"
           types="custom_icon">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.input"
           creator="aurora.ide.meta.gef.editors.components.RadioItemCreator"
           descriptor="aurora.ide.meta.component.RadioItemDesc"
           id="aurora.ide.meta.component.RadioItem"
           name="Radio"
           types="radio_item">
     </component>
     <component
           categoryId="aurora.ide.meta.palette.category.button"
           creator="aurora.ide.meta.gef.editors.components.ToolbarButtonCreator"
           descriptor="aurora.ide.meta.component.ToolbarButtonDesc"
           id="aurora.ide.meta.component.toolbar.button"
           name="toolbar_button"
           types="toolbar_button">
     </component>
     
     <component
           categoryId="aurora.ide.meta.palette.category.tree"
           creator="aurora.ide.meta.gef.editors.components.TreeCreator"
           descriptor="aurora.ide.meta.component.TreeDesc"
           id="aurora.ide.meta.component.Tree"
           name="Tree"
           types="custom_tree">
     </component>
     
      <component
           categoryId="aurora.ide.meta.palette.category.tree"
           creator="aurora.ide.meta.gef.editors.components.TreeNodeCreator"
           descriptor="aurora.ide.meta.component.TreeNodeDesc"
           id="aurora.ide.meta.component.TreeNode"
           name="tree_node"
           types="custom_tree_node">
     </component>
     
      <component
           categoryId="aurora.ide.meta.palette.category.tree"
           creator="aurora.ide.meta.gef.editors.components.TreeNodeContainerCreator"
           descriptor="aurora.ide.meta.component.TreeNodeContainerDesc"
           id="aurora.ide.meta.component.TreeNodeContaier"
           name="tree_node_container"
           types="custom_tree_container_node">
     </component>
     
     
     
     
  </extension>
	
<extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="$nl$/icons/welcome16.gif"
            id="org.eclipse.ui.intro.universal">
      </intro>
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="aurora.ide.prototype.consultant.product.product">
      </introProductBinding>
   </extension>
<extension
         point="org.eclipse.ui.intro.config">
      <config
            configurer="org.eclipse.ui.internal.intro.universal.UniversalIntroConfigurer"
            content="$nl$/introContent.xml"
            id="org.eclipse.ui.intro.universalConfig"
            introId="org.eclipse.ui.intro.universal">
         <presentation
               home-page-id="root" standby-page-id="standby">
            <implementation
                  style="themes/shared/html/shared.css,$theme$/html/shared.css,$theme$/html/font-$fontStyle$.css,$theme$/html/$direction$.css"
                  kind="html"
                  os="win32,linux,macosx,solaris">
            </implementation>
            <implementation
                  kind="swt">
            </implementation>
            <launchBar
               	location="fastview" 
            	bg="$launchbarBackground$"
            	computed="true">
            </launchBar>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <theme
            id="org.eclipse.ui.intro.universal.circles"
            name="%theme.name.circles"
            path="$nl$/themes/circles"
            previewImage="$nl$/themes/circles/preview.png"
            scalable="true">
            <property name="workbenchAsRootLink"
            		value="true"/>
            		<!--
            <property name="launchbarBackground"
            		value="#a1c2cb"/>
            		-->
            <property name="launchbarOverviewIcon"
            		  value="$theme$graphics/launchbar/overview16.png"/>
            <property name="launchbarFirststepsIcon"
            		  value="$theme$graphics/launchbar/firststeps16.png"/>
            <property name="launchbarTutorialsIcon"
            		  value="$theme$graphics/launchbar/tutorials16.png"/>
            <property name="launchbarSamplesIcon"
            		  value="$theme$graphics/launchbar/samples16.png"/>
            <property name="launchbarWhatsnewIcon"
            		  value="$theme$graphics/launchbar/whatsnew16.png"/>
            <property name="launchbarMigrateIcon"
            		  value="$theme$graphics/launchbar/migrate16.png"/>
            <property name="launchbarWebresourcesIcon"
            		  value="$theme$graphics/launchbar/webresources16.png"/>

            <property name="highContrast-overview"
            		  value="$theme$graphics/icons/ctool/overview.png"/>
            <property name="highContrast-firststeps"
            		  value="$theme$graphics/icons/ctool/firststeps.png"/>
            <property name="highContrast-tutorials"
            		  value="$theme$graphics/icons/ctool/tutorials.png"/>
            <property name="highContrast-samples"
            		  value="$theme$graphics/icons/ctool/samples.png"/>
            <property name="highContrast-whatsnew"
            		  value="$theme$graphics/icons/ctool/whatsnew.png"/>
            <property name="highContrast-webresources"
            		  value="$theme$graphics/icons/ctool/webresources.png"/>
            <property name="highContrast-migrate"
            		  value="$theme$graphics/icons/ctool/migrate.png"/>    
            <property name="highContrast-workbench"
            		  value="$theme$graphics/icons/ctool/workbench.png"/>    
            		  
            <property name="highContrastNav-overview"
            		  value="$theme$graphics/icons/ctool/ov_nav.png"/>
            <property name="highContrastNav-firststeps"
            		  value="$theme$graphics/icons/ctool/fs_nav.png"/>
            <property name="highContrastNav-tutorials"
            		  value="$theme$graphics/icons/ctool/tu_nav.png"/>
            <property name="highContrastNav-samples"
            		  value="$theme$graphics/icons/ctool/sa_nav.png"/>
            <property name="highContrastNav-whatsnew"
            		  value="$theme$graphics/icons/ctool/wn_nav.png"/>
            <property name="highContrastNav-webresources"
            		  value="$theme$graphics/icons/ctool/wr_nav.png"/>
            <property name="highContrastNav-migrate"
            		  value="$theme$graphics/icons/ctool/mi_nav.png"/> 
            <property name="highContrastNav-workbench"
            		  value="$theme$graphics/icons/ctool/wb_nav.png"/>
      </theme>
      <theme
            id="org.eclipse.ui.intro.universal.purpleMesh"
            name="%theme.name.purpleMesh"
            path="$nl$/themes/purpleMesh"
            previewImage="$nl$/themes/purpleMesh/preview.png"
            scalable="true">
            <property name="launchbarBackground"
            		value="#c6c3e8"/>
            <property name="capitalizeTitles"
            		value="true"/>
            <property name="launchbarOverviewIcon"
            		  value="$theme$graphics/launchbar/overview.gif"/>
            <property name="launchbarFirststepsIcon"
            		  value="$theme$graphics/launchbar/firststeps16.png"/>
            <property name="launchbarTutorialsIcon"
            		  value="$theme$graphics/launchbar/tutorials.gif"/>
            <property name="launchbarSamplesIcon"
            		  value="$theme$graphics/launchbar/samples.gif"/>
            <property name="launchbarWhatsnewIcon"
            		  value="$theme$graphics/launchbar/whatsnew.gif"/>
            <property name="launchbarMigrateIcon"
            		  value="$theme$graphics/launchbar/migrate16.png"/>
            <property name="launchbarWebresourcesIcon"
            		  value="$theme$graphics/launchbar/webresources16.png"/>
            		  
            <property name="highContrast-overview"
            		  value="$theme$graphics/icons/etool/overview72.gif"/>
            <property name="highContrast-firststeps"
            		  value="$theme$graphics/icons/etool/firsteps72.gif"/>
            <property name="highContrast-tutorials"
            		  value="$theme$graphics/icons/etool/tutorials72.gif"/>
            <property name="highContrast-samples"
            		  value="$theme$graphics/icons/etool/samples72.gif"/>
            <property name="highContrast-whatsnew"
            		  value="$theme$graphics/icons/etool/whatsnew72.gif"/>
            <property name="highContrast-webresources"
            		  value="$theme$graphics/icons/etool/webrsrc72.gif"/>
            <property name="highContrast-migrate"
            		  value="$theme$graphics/icons/etool/migrate72.gif"/>
            <property name="highContrast-workbench"
            		  value="$theme$graphics/icons/etool/wb48.gif"/> 
            		     
            <property name="highContrastNav-overview"
            		  value="$theme$graphics/icons/etool/overview48.gif"/>
            <property name="highContrastNav-firststeps"
            		  value="$theme$graphics/icons/etool/firsteps48.gif"/>
            <property name="highContrastNav-tutorials"
            		  value="$theme$graphics/icons/etool/tutorials48.gif"/>
            <property name="highContrastNav-samples"
            		  value="$theme$graphics/icons/etool/samples48.gif"/>
            <property name="highContrastNav-whatsnew"
            		  value="$theme$graphics/icons/etool/whatsnew48.gif"/>
            <property name="highContrastNav-webresources"
            		  value="$theme$graphics/icons/etool/webrsrc48.gif"/>
            <property name="highContrastNav-migrate"
            		  value="$theme$graphics/icons/etool/migrate48.gif"/> 
            <property name="highContrastNav-workbench"
            		  value="$theme$graphics/icons/etool/wb48.gif"/>       
      </theme> 
      <theme
            default="true"
            id="org.eclipse.ui.intro.universal.slate"
            name="%theme.name.slate"
            path="$nl$/themes/slate"
            previewImage="$nl$/themes/slate/preview.png"
            scalable="true">
            <property name="workbenchAsRootLink"
            		value="true"/>
            		<!--
            <property name="launchbarBackground"
            		value="#a1c2cb"/>
            		-->
            <property name="launchbarOverviewIcon"
            		  value="$theme$graphics/launchbar/overview16.png"/>
            <property name="launchbarFirststepsIcon"
            		  value="$theme$graphics/launchbar/firststeps16.png"/>
            <property name="launchbarTutorialsIcon"
            		  value="$theme$graphics/launchbar/tutorials16.png"/>
            <property name="launchbarSamplesIcon"
            		  value="$theme$graphics/launchbar/samples16.png"/>
            <property name="launchbarWhatsnewIcon"
            		  value="$theme$graphics/launchbar/whatsnew16.png"/>
            <property name="launchbarMigrateIcon"
            		  value="$theme$graphics/launchbar/migrate16.png"/>
            <property name="launchbarWebresourcesIcon"
            		  value="$theme$graphics/launchbar/webresources16.png"/>

            <property name="highContrast-overview"
            		  value="$theme$graphics/icons/ctool/overview.png"/>
            <property name="highContrast-firststeps"
            		  value="$theme$graphics/icons/ctool/firststeps.png"/>
            <property name="highContrast-tutorials"
            		  value="$theme$graphics/icons/ctool/tutorials.png"/>
            <property name="highContrast-samples"
            		  value="$theme$graphics/icons/ctool/samples.png"/>
            <property name="highContrast-whatsnew"
            		  value="$theme$graphics/icons/ctool/whatsnew.png"/>
            <property name="highContrast-webresources"
            		  value="$theme$graphics/icons/ctool/webresources.png"/>
            <property name="highContrast-migrate"
            		  value="$theme$graphics/icons/ctool/migrate.png"/>    
            <property name="highContrast-workbench"
            		  value="$theme$graphics/icons/ctool/workbench.png"/>    
            		  
            <property name="highContrastNav-overview"
            		  value="$theme$graphics/icons/ctool/ov_nav.png"/>
            <property name="highContrastNav-firststeps"
            		  value="$theme$graphics/icons/ctool/fs_nav.png"/>
            <property name="highContrastNav-tutorials"
            		  value="$theme$graphics/icons/ctool/tu_nav.png"/>
            <property name="highContrastNav-samples"
            		  value="$theme$graphics/icons/ctool/sa_nav.png"/>
            <property name="highContrastNav-whatsnew"
            		  value="$theme$graphics/icons/ctool/wn_nav.png"/>
            <property name="highContrastNav-webresources"
            		  value="$theme$graphics/icons/ctool/wr_nav.png"/>
            <property name="highContrastNav-migrate"
            		  value="$theme$graphics/icons/ctool/mi_nav.png"/> 
            <property name="highContrastNav-workbench"
            		  value="$theme$graphics/icons/ctool/wb_nav.png"/>
      </theme>
   </extension>
    <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="intro/sample1.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      <configExtension
            content="intro/sample2.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      
      <configExtension
            content="intro/sample3.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      
      <configExtension
            content="intro/sample4.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      
      <configExtension
            content="intro/sample5.xml"
            configId="org.eclipse.ui.intro.universalConfig">
      </configExtension>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="NavigationView"
            icon="icons/meta.png"
            class="aurora.ide.prototype.consultant.view.NavigationView"
            id="aurora.ide.prototype.consultant.view.navigationView">
      </view>
   </extension>
   
   <extension point="org.eclipse.ui.propertyPages">
	  <page
         class="aurora.ide.prototype.consultant.view.property.page.ProjectDemonstratePropertyPage"
         icon="icons/aurora.gif"
         id="aurora.ide.prototype.consultant.view.property.page.ProjectDemonstratePropertyPage"
         name="项目(演示)设置"
         >
         <enabledWhen>
             <test
                   forcePluginActivation="true"
                   property="aurora.ide.prototype.consultant.view.property.page.isProject"
                   value="true">
             </test>
       </enabledWhen>
	  </page>
	  <page
         class="aurora.ide.prototype.consultant.view.property.page.ProjectFSDPropertyPage"
         icon="icons/aurora.gif"
         id="aurora.ide.prototype.consultant.view.property.page.ProjectFSDPropertyPage"
         name="项目(FSD)设置"
         >
         <enabledWhen>
             <test
                   forcePluginActivation="true"
                   property="aurora.ide.prototype.consultant.view.property.page.isProject"
                   value="true">
             </test>
       </enabledWhen>
	  </page>
	  <page
         class="aurora.ide.prototype.consultant.view.property.page.ModuleFSDPropertyPage"
         icon="icons/aurora.gif"
         id="aurora.ide.prototype.consultant.view.property.page.ModuleFSDPropertyPage"
         name="模块(FSD)设置"
         >
         <enabledWhen>
             <test
                   forcePluginActivation="true"
                   property="aurora.ide.prototype.consultant.view.property.page.isModule"
                   value="true">
             </test>
       </enabledWhen>
	  </page>
	  <page
         class="aurora.ide.prototype.consultant.view.property.page.FunctionFSDPropertyPage"
         icon="icons/aurora.gif"
         id="aurora.ide.prototype.consultant.view.property.page.FunctionFSDPropertyPage"
         name="功能(FSD)设置"
         >
         <enabledWhen>
             <test
                   forcePluginActivation="true"
                   property="aurora.ide.prototype.consultant.view.property.page.isFunction"
                   value="true">
             </test>
       </enabledWhen>
	  </page>
	</extension>

   <extension  point ="org.eclipse.core.expressions.propertyTesters" > 
    <propertyTester
  	  namespace ="aurora.ide.prototype.consultant.view.property.page" 
 	  properties ="isProject,isModule,isFunction,isUIP" 
      type ="java.lang.Object" 
      class ="aurora.ide.prototype.consultant.view.property.page.ResourceTester" 
      id ="aurora.ide.prototype.consultant.view.property.page.ResourceTester" >   
    </propertyTester >
    </extension >
</plugin>
